<!DOCTYPE html>
<html ng-app="myApp">
<script src= "angular.min.js"></script>
<body>

<div ng-controller="formCtrl">
  <form novalidate>
    First Name:<br>
    <input type="text" ng-model="user.firstName"><br>
    Last Name:<br>
    <input type="text" ng-model="user.lastName">
    <br><br>
    <button ng-click="reset()">RESET</button>
    <button ng-click="save()" class="save">SAVE</button>
  </form>
  <p>form = {{user }}</p>
  <p class="master">master = {{master}}</p>
</div>

<script>
var app = angular.module('myApp', []);

app.controller('formCtrl', function($scope) {
  
  $scope.master = {firstName:"John", lastName:"Doe"};
  
  $scope.reset = function() {
    $scope.user = angular.copy($scope.master);
  };
  
  $scope.reset();
  
  $scope.save = function(){
    
  };
});
</script>

</body>
</html>